# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno / secretos
.env
*.key.json
key.json

# Logs
logs
*.log
*.log.*

# Docker
*.pid
*.seed
*.pid.lock

# Sistema
.DS_Store
Thumbs.db

# GitHub Actions cache/temp
.github/workflows/*.bak
